<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default suite" parallel="tests">
 <listeners>
 <listener class-name="com.eapplycalculators.utilities.Reporting"></listener>
 </listeners>
  <test name="chrome test">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.eapplycalculators.testCases.TC_eApplyCalDDT"></class>
    </classes>
  </test> 
    <test  name="firefox test">
  <parameter name="browser" value="firefox"></parameter>
    <classes>
     <class name="com.eapplycalculators.testCases.TC_PremimCalculator"/>
    </classes>
  </test>
</suite> <!-- Default suite -->